[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-filter = "*"
pillow = "*"
python-dotenv = "*"
gunicorn = "*"
pymysql = "*"
dj-database-url = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"
boto3 = "*"
django-storages = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.12"
